/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --orange: #EF6C00;
    --black: #262A34;
    --green: #32BF00;
    --red: #CC3300;
    --gray: #434854;
    --gray_btn: #CFCFCF;
    --gray_btn_text: #9E9E9E;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 20px;
}

.title {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--orange);
    text-transform: uppercase;
    font-weight: 700;
}

.resposta {
    padding: 20px;
}

.palpite {
    padding: 20px;
}

.nova_partida {
    margin: 20px;
}

/* .input_border {
    border-radius: 5px;
    border: solid 2px var(--orange);
    padding: 5px;
}

.input_border[type=number]:focus {
    border: 1px solid var(--orange);
    border-radius: 5px;
} */

input[type=number] {
    padding: 5px;
    border: solid 2px var(--gray_btn);
    border-radius: 5px;
    outline: none;
    color: var(--gray_btn_text);
}

input[type=number]:focus {
    padding: 5px;
    border: solid 2px var(--orange);
    border-radius: 5px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    outline: none;
    color: var(--gray_btn_text);
}

.hr {
    border: solid 1px var(--orange);
    width: 100%;
}

button {
    height: 29px;
    cursor: pointer;
}

.red {
    color: var(--red);
}

.green {
    color: var(--green);
}